/*
  Top-level styling
*/


.idyll-text-container {
  width: 100%;
}

.idyll-action {
  text-decoration-color:#a51010;
  text-decoration-style: double;
  font-weight: bold;
  color: #a51010;
}

.idyll-action:hover {
  text-decoration-color:#eda3a3;
  text-decoration-style: double;
  font-weight: bold;
  color: #eda3a3;
}

.idyll-display {
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: normal;
  padding-left:3px;
  padding-right:15px;
}

.fullWidth {
  padding-left: 5%;
  padding-right: 5%;
}

button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 15px;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
}

button:hover {
  background-color: #555555;
  color: white;
}

/* 
  Probability Tree CSS
*/

.node circle {
  fill: #fff;
  stroke: #FED966;
  stroke-width: 3px;
}

.node text {
  font: 16px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.link text {
  font: 16px sans-serif;
  fill: #a51010;
  stroke: #a51010;
  stroke-width: 1px;
}

/*
  Game CSS
*/

.pieWrap {
  text-align: center;
}

.gamePie {
  width: 150px;
  margin: 10px 20px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

.gamePies {
  width: 65%;
  text-align: center;
  float: right;
}

.gamePies:after  {
  content: "";
  clear: both;
  display: table;
  float: right;
}

.gameStats {
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
}

.GameBox {
  margin-top: 10px;
  padding-top: 10px;
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  padding-bottom: 10px;
  float: left;
  width: 35%;
}

.demoBox::after {
  content:"";
  clear: both;
  display: table;
}

.treeBox::after {
  content:"";
  clear: both;
  display: table;
}

.treeText {
  float: left;
  width: 50%;
  font-size: 12.5px;
}

.probTree {
  padding-top: 50px;
  padding-left: 15px;
  float: right;
  width: 50%;
}

.trialBox:after {
  content: "";
  clear: both;
  display: table;
  text-align: center;
}

.trialButtons {
  padding-top: 50px;
  padding-right: 10px;
  float: left;
  width: 25%;
}

.trialLegend {
  float: right;
  padding-top: -300px;
}

.trialText {
  color: "black";
}

.GameBox::after {
  content: "";
  clear: both;
  display: table;
}

.GameBox p {
  margin-top: 10px;
  text-align: center;
}

.DoorBox {
  float: left;
  width: 33.33%;
  padding: 5px;
  background-color: white;
}

.SmallDoorBox {
  float: left;
  width: 10%;
  padding: 5px;
  background-color: white;
}

.ButtonBox {
  text-align: center;
  margin-top: 10px;
}

.InstructionBox {
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
}

.probs {
  float: left;
  width: 35%;
}

.winner {
  color: green;
  text-align: center;
  font-size: 25px;
}

.loser {
  color: red;
  text-align: center;
  font-size: 25px;
}

.switchText {
  color: #f44242;
  display: inline-block;
}

.stayText {
  color: #2099ea;
  display: inline-block;
}

.emphasize {
  color: #a51010;
  font-weight: bold;
  display: inline-block;
}
