/*
  Top-level styling
*/

.idyll-action {
  text-decoration-color:#a51010;
  text-decoration-style: double;
  color: #a51010;
}

.idyll-action:hover {
  text-decoration-color:#eda3a3;
  text-decoration-style: double;
  color: #eda3a3;
}

.idyll-display {
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: normal;
  padding-left:3px;
  padding-right:15px;
}

button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 15px;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
}

button:hover {
  background-color: #555555;
  color: white;
}

/* 
  Probability Tree CSS
*/

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 16px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.link text {
  font: 16px sans-serif;
  fill: #CC0000;
  stroke: #CC0000;
  stroke-width: 1px;
}

/*
  Game CSS
*/

.gamePie {
  width: 150px;
  margin: 10px 20px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

.gamePies {
  width: 600px;
  text-align: center;
  position: relative
}

.gameStats {
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
}

.GameBox {
  margin-top: 10px;
  padding-top: 10px;
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  padding-bottom: 10px;
}

.GameBox::after {
  content: "";
  clear: both;
  display: table;
}

.GameBox p {
  margin-top: 10px;
  text-align: center;
}

.DoorBox {
  float: left;
  width: 33.33%;
  padding: 5px;
  background-color: white;
}

.ButtonBox {
  text-align: center;
  margin-top: 10px;
}

.InstructionBox {
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
}

.winner {
  color: green;
  text-align: center;
  font-size: 25px;
}

.loser {
  color: red;
  text-align: center;
  font-size: 25px;
}

.switchText {
  color: #f44242;
  padding-left: 15px;
}

.stayText {
  color: #006699;
}
