/*
    Game CSS
*/

.GameBox {
  border-style: '5px pink dotted';
}

.GameBox::after {
  content: "";
  clear: both;
  display: table;
}

.GameBox p {
  margin-top: 10px;
  text-align: center;
}

.DoorBox {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.DoorBox img {
  opacity: 1.0;
}

.DoorBox img:hover {
  opacity: 1.0;
}

.ButtonBox {
  text-align: center;
}